.light-theme {
  --text-color: hsl(200, 15%, 8%);
  --elements-bg-color: hsl(0, 0%, 100%);
  --bg-color: hsl(0, 0%, 98%);
  --input-color: hsl(0, 0%, 52%);
}
.dark-theme {
  --text-color: hsl(0, 0%, 100%);
  --elements-bg-color: hsl(209, 23%, 22%);
  --bg-color: hsl(207, 26%, 17%);
}
.container {
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}
.msg__not-found {
  padding: 9.6rem 0 2.4rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: var(--font-wt-extra-bold);
}
