.container {
  min-height: 100rem;
}
.container__light {
  background-color: var(--l-mode-very-light-gray);
  color: var(--l-mode-very-dark-blue);
}
.container__dark {
  background-color: var(--d-mode-very-dark-blue);
  color: var(--white);
}
